<div class="modal-container">

  <div class="modal-body">
    <mat-dialog-content>

      <ng-container *ngIf="showPOST()">
        <div class="row">
          <mat-form-field class="col-4">
            <input matInput placeholder="Nombre" (change)="onNameInput($event)">
          </mat-form-field>

          <mat-form-field class="col-4">
            <input matInput placeholder="Apellido" (change)="onApellInput($event)">
          </mat-form-field>
        </div>
      </ng-container>

      <ng-container *ngIf="showPUT()">
        <div class="row">
          <mat-form-field class="col-12">
            <mat-select placeholder="Seleccionar empleado" (selectionChange)="onSelectInput($event.value)">
              <mat-option *ngFor="let empl of empleados | async" value="{{empl.Id_empleado}}">{{showNameApell(empl)}}</mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container *ngFor="let empl of empleados | async">
            <ng-container *ngIf="putEmpleadoId(empl)">
              <mat-form-field class="col-4">
                <input matInput placeholder="Nombre" (change)="onNameInput($event)" value="{{empl.FirstName}}">
              </mat-form-field>

              <mat-form-field class="col-4">
                <input matInput placeholder="Apellido" (change)="onApellInput($event)" value="{{empl.LastName}}">
              </mat-form-field>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="showDELETE()">
        <div class="row">
          <mat-form-field class="col-12">
            <mat-select placeholder="Seleccionar empleado" (selectionChange)="onSelectInput($event.value)">
              <mat-option *ngFor="let empl of empleados | async" value="{{empl.Id_empleado}}">{{showNameApell(empl)}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>

    </mat-dialog-content>
  </div>

  <div class="modal-footer">
    <mat-dialog-actions>
      <div class="row">
        <button mat-raised-button color="primary" [disabled]="isDisabled" (click)="dataSend()">{{getTitulo()}}</button>
      </div>
    </mat-dialog-actions>
  </div>
</div>