.col-4
  display: inline-block

.box-facturas
  height: 53vh
  overflow: auto
  margin-bottom: 50px

.colum1
  text-align: left
  font-weight: bold

  h4
    color: #10462f

.colum2
  text-align: center
  font-weight: bold

  p
    margin-bottom: 0px

  span
    color: #dc3545

.colum3
  color: #eb6d07
  text-align: right

.rowTotal
  text-align: right
  display: block

  button
    font-size: 18px

