<div class="modal-container">
  <div class="modal-header">
    <h2 mat-dialog-title>Confirmar Pedido N° {{getNumeroPedido()}}</h2>
  </div>
  <div class="modal-body">
    <mat-dialog-content>
      <div class="row">
        <app-iglu-tabla-producto [fila]="2" [col]="6" [pedido]="data.pedido"></app-iglu-tabla-producto>
        <div class="show-total">
          <span>{{getTotalAPagar() | currency}}</span>
        </div>
      </div>
      <div class="row pradio">
        <mat-radio-group class="w100">
          <mat-radio-button class="col-4" color="primary" value="1">Efectico</mat-radio-button>
          <mat-radio-button class="col-4" color="primary" value="2">Debito</mat-radio-button>
          <mat-radio-button class="col-4" color="primary" value="3">Credito</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="row pcheck">
        <mat-checkbox class="col-12" color="primary">Facurar ?</mat-checkbox>
      </div>
    </mat-dialog-content>
  </div>
  <div class="modal-footer">
    <mat-dialog-actions>
      <div class="row">
        <button mat-raised-button mat-dialog-close>Cancelar</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-raised-button color="primary"s [mat-dialog-close]="true">Facturar</button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
