.modal-container
  width: 55vw
  
.show-total
  margin-top: auto
  margin-bottom: auto
  margin-left: auto

  span
    font-size: 36px
    font-weight: bold
    
.w100
  width: 100%
  
.pradio
  padding: 30px 0px 15px 0px
  
.pcheck
  padding: 5px 0px