<div class="modal-container">
  <div class="modal-header">
    <h2 mat-dialog-title>Confirmar Pedido N° {{getNumeroPedido()}}</h2>
  </div>
  <div class="modal-body">
    <mat-dialog-content>
      <div class="row">
        <app-iglu-tabla-producto [fila]="2" [col]="6" [pedido]="data.pedido"></app-iglu-tabla-producto>
        <div class="show-total">
          <span>{{data.factura.Precio | currency : "ARS"}}</span>
        </div>
      </div>
      <div class="row pradio">
        <mat-radio-group class="col-8">
          <mat-radio-button class="col-4 mpago" color="primary" value="1" (change)="metodoDePago($event)">Efectivo</mat-radio-button>
          <mat-radio-button class="col-4 mpago" color="primary" value="2" (change)="metodoDePago($event)">Debito</mat-radio-button>
          <mat-radio-button class="col-4 mpago" color="primary" value="3" (change)="metodoDePago($event)">Credito</mat-radio-button>
        </mat-radio-group>
        <div class="col-4 cambio">
          <span>Calcular cambio</span>
          <input type="number" (keyup)="showCambio($event)">
          <span class="showcambio">{{cambio | currency : "ARS"}}</span>
        </div>
      </div>
    </mat-dialog-content>
  </div>
  <div class="modal-footer">
    <mat-dialog-actions>
      <div class="row">
        <button mat-raised-button [mat-dialog-close]="false">Cancelar</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="isDisabled" (click)="sendFactura()">Aceptar</button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
