.contenedor
  height: 354px
  width: calc(100vw - 68px)
  padding: 5px
  
  .card-prod
    width: 1100px
    display: inline-block
    
  .card-cate
    width: calc(100vw - 68px - 1130px)
    display: inline-block
    position: absolute
    margin-left: 10px
    
    .hmatcard
      text-align: center
    
    button
      margin: 4px
      width: 120px
      
      span
        font-weight: bold
        font-size: 16px

button.btn-img
  height: 100px
  width: 100px
  margin: 4px
  background-color: transparent
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  background-image: url('../../assets/images/helado.jpg')

  span
    font-weight: bold

    
.hmatcard
  height: 344px
  overflow: auto