<div class="contenedor-caja">

  <ng-container *ngIf="cajaOpen | async; let _caja">
    <mat-list>
      <h3 mat-header>Caja</h3>
      <div class="col-6 datos-caja">
        <mat-list-item>
          <mat-icon mat-list-icon>today</mat-icon>
          <p mat-line>{{_caja.HoraInicio | date : 'EEEE, MMMM d, y, h:mm:ss a'}}</p>
          <p *ngIf="!caja" mat-line>{{_caja.HoraInicio | date : 'EEEE, MMMM d, y, h:mm:ss a'}}</p>
        </mat-list-item>
      </div>
      <div class="col-6 datos-caja">
        <mat-list-item>
          <mat-icon mat-list-icon>local_atm</mat-icon>
          <p mat-line>{{_caja.Inicio | currency : "ARS"}}</p>
          <p *ngIf="!caja" mat-line>{{_caja.Inicio | currency : "ARS"}}</p>
        </mat-list-item>
      </div>
    </mat-list>
  </ng-container>

  <ng-container *ngIf="cajaOpen | async; let _caja">
    <ng-container *ngIf="isCajaOpen(_caja)">
      <app-iglu-caja-load-facturas [cajaId]="_caja.Id_caja" [cajaInicio]="_caja.Inicio">
      </app-iglu-caja-load-facturas>
    </ng-container>
  </ng-container>

</div>
