.contenedor
  padding: 5px
  height: calc(100vh - 354px)
  width: calc(100vw - 660px - 68px - 10px)

  .carta-height
    height: 100%

.mat-titulo
  margin-bottom: 5px

.mat-body
  height: 330px
  overflow: auto

.col-4
.col-12
.col-6
  display: inline-block
  text-align: center

  &:first-child
    text-align: left
    font-weight: bold
    color: #10462f

  &:last-child
    color: #eb6d07
    text-align: right
