.modal-container
  width: 65vh
  
h2
  font-weight: bold
  
.box-timer
  text-align: right
  padding-top: 6px
  
  span
    font-weight: bold
    color: #10462f
  
.mat-table-prod
  width: 100%
  
  th:not(:first-child)
    text-align: right

  td:not(:first-child)
    text-align: right
    
.box-total
  margin-top: 20px
  margin-bottom: 20px
  padding: 0px
  
  div
    display: inline-block
    text-align-last: left
    vertical-align: top
    
    &:not(:first-child)
      text-align: right
  
    span
      display: block
      color: #10462f
        
    p
      font-weight: bold
      
.box-commet-baja
  display: inline-block
  text-align-last: left
  vertical-align: top
  
  &:not(:first-child)
    text-align: right

  span
    display: block
    color: #10462f
      
  p
    font-weight: bold