.contenedor
  padding: 5px
  height: calc(100vh - 354px)
  width: 660px

  .carta-height
    height: 100%

.tabla-contenido
  height: calc(100vh - 354px - 10px - 20px - 36px - 16px - 16px - 36px)
  overflow: auto

table
  width: 100%

  tr

    td
      vertical-align: middle !important

      input
        text-align: center

      .cant
        width: 46px

      .desc
        width: 56px

        span.scolor
          color: #f44336

        input
          color: #f44336

      &:first-child
        width: 60%

      &:not(:first-child)
        text-align: center

.mat-table-sticky
  border-top: 1px solid #e0e0e0

.mat-card-footer
  margin: 0 !important

.factura-total
  float: right
  font-size: 24px
  font-weight: bold
  margin-right: 10px

.btn-margen
  margin-right: 10px

.desc-total
  position: absolute
  right: 180px
  width: 56px
  bottom: -2px

  span.scolor
    color: #f44336

  input
    color: #f44336
