.modal-container
  width: 55vw

.totalf
  margin-top: 20px

  .col-6
    font-size: 24px

    &:last-child
      color: black
      text-align: right

.col-6
  font-weight: bold
  font-size: 18px

  &:first-child
    color: #10462f

  &:last-child
    color: #eb6d07
    text-align: right

.gpos
  color: #28a745

.gneg
  color: #dc3545
