<div class="contenedor">
  <div class="botonera">
    <div class="boto-header">
      <span>MENU ADMIN</span>
    </div>
    <div class="boto-body">
      <button mat-button class="btn-menu" (click)="modeCategoria()">
        <span>Categorias</span>
      </button>
      <button mat-button class="btn-menu" (click)="modeProducto()">
        <span>Productos</span>
      </button>
      <button mat-button class="btn-menu" (click)="modeEmpleado()">
        <span>Empleados</span>
      </button>
      <button mat-button class="btn-menu" (click)="modeCaja()">
        <span>Cajas</span>
      </button>

      <app-iglu-caja-status></app-iglu-caja-status>
    </div>
    <div class="boto-footer">
      <button mat-button class="btn-salida" (click)="exitModeAdmin()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Salir</span>
      </button>
    </div>
  </div>
  <div class="cuerpo-contenedor">
    <mat-card class="cuerpo-card">

      <ng-container *ngIf="isViewCategoria()">
        <app-iglu-categoria-admin></app-iglu-categoria-admin>
      </ng-container>

      <ng-container *ngIf="isViewProducto()">
        <app-iglu-producto-admin></app-iglu-producto-admin>
      </ng-container>

      <ng-container *ngIf="isViewEmpleado()">
        <app-iglu-empleado-admin></app-iglu-empleado-admin>
      </ng-container>

      <ng-container *ngIf="isViewCaja()">
        <app-iglu-caja-admin></app-iglu-caja-admin>
      </ng-container>

      <ng-container *ngIf="isViewCajaOpen()">
        <app-iglu-caja-admin [caja]="true"></app-iglu-caja-admin>
      </ng-container>

    </mat-card>
  </div>
</div>
