.contenedor
  height: 100vh
  width: calc(100vw - 68px)

  .botonera
    position: absolute
    padding: 20px
    height: 100vh
    width: 200px
    display: inline-block

    .boto-header
      height: 10%

    .boto-body
      height: 80%

    .boto-footer
      height: 10%

      .btn-salida
        width: 100%
        color: white
        font-weight: bold

  .cuerpo-contenedor
    position: absolute
    left 268px
    padding: 5px
    height: 100vh
    width: calc(100vw - 68px - 200px)
    display: inline-block

    .cuerpo-card
      height: 100%
