<div class="contenedor">
  <div class="botonera">
    <div class="boto-header">
      <span>MENU ADMIN</span>
    </div>
    <div class="boto-body">
      botones
      <span>CAJA</span>
    </div>
    <div class="boto-footer">
      <button mat-button class="btn-salida" (click)="exitModeAdmin()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Salir Admin</span>
      </button>
    </div>
  </div>
  <div class="cuerpo-contenedor">
    <mat-card class="cuerpo-card">

    </mat-card>
  </div>
</div>
