.contenedor
  padding: 5px
  width: 68px
  height: 100%

  .mat-card
    padding: 2px !important
    height: 100%

button.btn-pedido
  height: 50px
  width: 50px
  margin: 2px
  padding: 0px
  min-width: auto

  .mat-icon
    height: 30px
    width: 30px
    font-size: 30px

  span
    font-size: 16px
    font-weight: 600
