/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import "~normalize.css/normalize.css"
@import "~bootstrap/dist/css/bootstrap.css"
@import "/assets/styles/icon.css"


html
body
  height: 100vh
  min-height: 100vh
  background-color: #888

.contenedor
  background-color: #888

.mat-card
  padding: 10px !important

.mat-checkbox-inner-container
  height: 40px !important
  width: 40px !important

.mat-badge-medium.mat-badge-overlap.mat-badge-after

  .mat-badge-content
    right: 4px !important

.mat-badge-medium.mat-badge-above

  .mat-badge-content
    top: 4px !important

.mat-form-field-appearance-legacy .mat-form-field-underline
  background-color transparent

.mat-form-field-wrapper
  padding-bottom: 0.70em !important

