/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css"
@import "~bootstrap/dist/css/bootstrap.css"
@import "/assets/styles/icon.css"


html
body
  height: 100vh
  min-height: 100vh
  background-color: #888

.contenedor
  background-color: #10462f

.row
  margin: 0px !important

.container
  padding-right: 0px !important
  padding-left: 0px !important
  margin-right: 0px !important
  margin-left: 0px !important

button.btn-cube
  height: 50px
  width: 50px
  margin: 2px
  padding: 0px
  min-width: auto

  .mat-icon
    height: 30px
    width: 30px
    font-size: 30px

  span
    font-size: 16px
    font-weight: 600

.mat-card
  padding: 10px !important

/*.mat-checkbox-inner-container
  height: 40px !important
  width: 40px !important*/

.mat-badge-medium.mat-badge-overlap.mat-badge-after

  .mat-badge-content
    right: 4px !important

.mat-badge-medium.mat-badge-above

  .mat-badge-content
    top: 4px !important

.underline-trans .mat-form-field-appearance-legacy .mat-form-field-underline
  background-color transparent

