.box-empleado
  padding: 0 30px

  .bgc-empleado
    background-color: #6f42c1
    border: 1px solid #6f52d1
    padding: 10px 5px 5px 5px
    border-radius: 2px

.mat-radio-button
  display: block

  span
    color: white
    font-weight: bold

/deep/ .mat-radio-label
  width: 100%
