.box-caja-status
  margin-top: 120px

  .bgc-caja-status
    background-color: #eb6d07
    border: 1px solid white
    padding: 10px 5px 5px 5px
    border-radius: 2px
    text-align: center
    
    span
      display: block
      color: white
      
      &.titulocaja
      	font-weight: bold
      	
      &.fechacaja
      	font-size: 14px
      
    button
      margin-top: 15px