<div class="box-caja-status">
  <div class="bgc-caja-status">

    <ng-container *ngIf="cajaOpen | async; let _caja">
      <ng-container *ngIf="haveCajaOpen(_caja)">
        <span class="titulocaja">Caja Abierta</span>
        <span class="fechacaja">Desde: {{ _caja.HoraInicio | date : 'd/M/yy, H:mm'}}</span>
        <button mat-button (click)="showCajaOpen()">
          <span>Ver caja</span>
        </button>
      </ng-container>
      <ng-container *ngIf="!haveCajaOpen(_caja)">
        <span class="titulocaja">Cajas Cerradas</span>
        <button mat-button>
          <span>Abrir una Caja</span>
        </button>
      </ng-container>
    </ng-container>

  </div>
</div>
