<div class="contenedor-sidebar">
  <div class="container container-header">

    <button mat-button [matMenuTriggerFor]="menuadmin" class="btn-menu">
      <mat-icon>more_vert</mat-icon>
      <span>Menu Admin</span>
    </button>

    <mat-menu #menuadmin="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="menucategorias">Categorias</button>
      <button mat-menu-item [matMenuTriggerFor]="menuproductos">Productos</button>
      <button mat-menu-item [matMenuTriggerFor]="menuempleados">Empleados</button>
      <button mat-menu-item (click)="openModalCaja()">Cajas</button>
    </mat-menu>

    <mat-menu #menucategorias="matMenu">
      <button mat-menu-item (click)="openModalCate('POST')">Agregar</button>
      <button mat-menu-item (click)="openModalCate('PUT')">Editar</button>
      <button mat-menu-item (click)="openModalCate('DELETE')">Eliminar</button>
    </mat-menu>

    <mat-menu #menuproductos="matMenu">
      <button mat-menu-item (click)="openModalProd('POST')">Agregar</button>
      <button mat-menu-item (click)="openModalProd('PUT')">Editar</button>
      <button mat-menu-item (click)="openModalProd('DELETE')">Eliminar</button>
    </mat-menu>

    <mat-menu #menuempleados="matMenu">
      <button mat-menu-item (click)="openModalEmpl('POST')">Agregar</button>
      <button mat-menu-item (click)="openModalEmpl('PUT')">Editar</button>
      <button mat-menu-item (click)="openModalEmpl('DELETE')">Eliminar</button>
    </mat-menu>

  </div>


  <div class="container container-body">
    <app-iglu-empleado-list></app-iglu-empleado-list>
  </div>
</div>
