<div class="contenedor-sidebar">
  <div class="container container-header">

    <button mat-button (click)="openModalCaja()" class="btn-menu">
      <mat-icon>perm_identity</mat-icon>
      <span>Login Admin</span>
    </button>

  </div>


  <div class="container container-body">
    <app-iglu-empleado-list></app-iglu-empleado-list>

    <div class="box-btn-factura">
      <button mat-raised-button color="accent" (click)="openModalRetiros()">Retiros</button>
      <button mat-raised-button color="accent" (click)="openModalOtros()">Otros</button>
    </div>
  </div>
</div>
